---
import PlayfulDivider from "@/components/common/PlayfulDivider.astro";

interface Props {
	description: string;
	responsibilities: {
		me: string[];
		colleagues: string;
	};
}

const { description, responsibilities } = Astro.props;
---

<section class="max-w-prose-l mx-auto grid gap-16">
    <div class="grid gap-8">
        <h2 class="text-4xl">
            My responsibilities
        </h2>

        <p class="text-neutral-400 light:text-neutral-700 max-w-prose">{description}</p>
    </div>

    <PlayfulDivider />

    <div class="grid gap-8">
        <ul class="grid gap-4">
            {responsibilities.me.map((responsibility) =>
                    <li class="p-8 bg-neutral-900 light:bg-neutral-200 rounded-3xl">{responsibility}</li>
            )}
            <li class="p-6 border-solid border-1 border-neutral-800 light:border-neutral-300 rounded-3xl">{responsibilities.colleagues}</li>
        </ul>

        <div class="flex gap-8 justify-end flex-wrap">
            <div class="flex items-center gap-4">
                <span class="inline-block w-4 h-4 rounded-full bg-neutral-900 light:bg-neutral-200"/> Me
            </div>
            <div class="flex items-center gap-4">
                <span class="inline-block w-4 h-4 rounded-full border-solid border-1 border-neutral-800 light:border-neutral-300"/> Colleagues
            </div>
        </div>
    </div>
</section>