---
import { Notes } from "@/components/mastodon/Notes";
import { NotesFilter } from "@/components/mastodon/NotesFilter";
import {
	fetchPostsByUserId,
	getTagsWithCountByPosts,
} from "@/components/mastodon/utils";
import Layout from "@/layouts/layout.astro";

const posts = await fetchPostsByUserId(import.meta.env.MASTODON_USER_ID);
const tags = getTagsWithCountByPosts(posts);
---

<title slot="head">Notes — Moriz von Langa</title>
<meta slot="head" name="description" content="A few notes and reminders, usually when I've found a solution to something I was struggling with, discovered the ideal solution to a problem, or tried something new with coffee or my plants."/>

<Layout className="container gap-32">
    <section class="grid gap-8">
        <h1 class="text-4xl font-bold leading-snug">
            Notes
        </h1>
        <p class="max-w-prose text-lg text-neutral-400">
            A few notes and reminders for myself, usually when I've found a solution to something I was struggling with, discovered the ideal solution to a problem, or tried something new with coffee or my plants. It's great to have a place to go back to.
        </p>
        <NotesFilter client:idle availableTags={tags} />
    </section>

    <Notes client:idle notes={posts} />
</Layout>
