---
import { PlayfulDivider } from "@/components/common/PlayfulDivider";

interface Props {
	description: string;
	responsibilities: string[];
}

const { description, responsibilities } = Astro.props;
---

<section class="mx-auto grid max-w-prose-l gap-16">
	<div class="grid gap-8">
		<h2 class="text-4xl">My responsibilities</h2>

		<p class="max-w-prose text-neutral-700">
			{description}
		</p>
	</div>

	<PlayfulDivider client:idle />

	<div class="grid gap-8">
		<ul class="grid gap-4">
			{
				responsibilities.map((responsibility) => (
					<li class="rounded-3xl bg-neutral-100 p-8">
						{responsibility}
					</li>
				))
			}
		</ul>
	</div>
</section>
