<style is:inline>
	@keyframes fadeInOut {
		25%, 75% {
			opacity: 1
		}
		50% {
			opacity: 0
		}
	}
</style>

<p class="inline-flex gap-1">
	<span class="motion-safe:animate-[fadeInOut_2s_ease-in-out_infinite]">.</span>
	<span class="motion-safe:animate-[fadeInOut_2s_ease-in-out_infinite_200ms]">.</span>
	<span class="motion-safe:animate-[fadeInOut_2s_ease-in-out_infinite_400ms]">.</span>
</p>