---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const legalPages = await getCollection("legalPages");

	return legalPages.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post: legalPage } = Astro.props;

const { Content } = await render(legalPage);
const { title } = legalPage.data;

import Prose from "@/components/common/Prose.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout className="container" footerType="small">
    <title slot="head">{title} — Moriz von Langa</title>

    <Prose variant="blog" additionalClasses="max-w-prose mx-auto">
        <Content/>
    </Prose>
</Layout>
