---
import Layout from "../../layouts/layout.astro";
---

<Layout title="Imprint" description="">
    <section class="container py-48">
        <h1 class="text-5xl">Imprint</h1>
        <br/>
        <br/>
        <p>
            Moriz von Langa
            <br/>
            Jahnallee 65
            <br/>
            04177 Leipzig
        </p>
        <br/>
        <p>
            Email: morizvlanga[at]gmail.com <br/> Phone: 015751212916
        </p>
        <br/>
        <p>
            Represented by:
            <br/> Moriz von Langa
        </p>
        <br/>
        <p>
            Sales tax ID according to ยง27a sales tax law:
            <br/> 216/242/30150
        </p>
    </section>
</Layout>
