---
import Layout from '../../layouts/layout.astro';
---

<Layout title="Privacy Policy" description="">
    <section class="container py-48">
        <h1 class="text-5xl">Privacy Policy</h1>
        <br/>
        <br/>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos
            distinctio dolorum itaque pariatur possimus quia sint voluptatum.
            Adipisci aliquam autem cum, ea, excepturi fugit hic incidunt magnam nam
            nihil repudiandae sed tempora voluptates. Consectetur debitis
            dignissimos doloribus iste laudantium molestiae nostrum perferendis
            possimus quia quo quos ratione, temporibus voluptate?
        </p>
    </section>
</Layout>
