---
import Layout from "@/layouts/layout.astro";
---

<Layout footerType="small">
	<section class="container scroll-mt-96" id="home">
		<h1 class="mb-10 text-6xl leading-snug font-bold">Oops!</h1>
		<p class="max-w-prose text-3xl font-light light:font-normal">
			I can't seem to find the page you are looking for.
		</p>
	</section>
</Layout>
