---
import Layout from "../layouts/layout.astro";

const workPages = Object.values(
	import.meta.glob("./work/*.md", { eager: true }),
);
---

<Layout title="Frontend Developer" description="">
    <section class="container flex min-h-[96vh] flex-col justify-center py-48">
        <h1 class="mb-10 text-6xl font-bold leading-snug">
            Hi, I’m Moriz.
        </h1>
        <p class="max-w-[60ch] text-3xl font-light">
            Frontend Developer based in Leipzig. On daily routine, I try to ask a
            lot of questions to really build solutions that truly solve the users
            problems.
        </p>
        {workPages.length}
        {workPages.map((work) => <div>
            <a href={work.url}>{work.frontmatter.title}</a>
            <img src={work.frontmatter.previewImage}>
        </div>)}
    </section>
</Layout>
