---
import Layout from '../layouts/layout.astro';
---

<Layout title="Work" description="">
    <section class="container flex min-h-[96vh] flex-col justify-center py-48">
        <h1 class="mb-10 text-6xl font-bold leading-snug">
            Work
        </h1>
    </section>
</Layout>
