---
import {getCollection} from "astro:content";

import CarbonBadge from "@/components/CarbonBadge.astro";

const year = new Date().getFullYear();
const isProduction = import.meta.env.PROD
---

<footer class="container flex flex-wrap justify-between gap-x-4 gap-y-2 pb-6 text-sm">
    <div class="flex flex-wrap gap-x-4 gap-y-2">
        <a
                href="/legal/imprint"
                class="text-neutral-400 transition-colors hover:text-purple"
        >
            Imprint
        </a>

        <a
                href="/legal/privacy-policy"
                class="text-neutral-400 transition-colors hover:text-purple"
        >
            Privacy Policy
        </a>

        {isProduction && <CarbonBadge />}
    </div>
    <a
            href="/"
            class="text-neutral-400 transition-colors hover:text-purple"
    >
        &copy; 2023 - {year} Moriz von Langa
    </a>
</footer>

