---
import { clsx } from "clsx";

type Severity = "info" | "success" | "warning" | "error" | "neutral";

interface Props {
	severity?: Severity;
	additionalClasses?: string;
}

const { severity = "info", additionalClasses } = Astro.props;

const alertClasses = clsx(
	"rounded-lg border px-8 py-6",
	"[&_*]:first:mt-0",
	"[&_*]:last:mb-0",
	severity === "info" && "border-purple-200 bg-purple-100",
	severity === "neutral" && "border-neutral-200 bg-neutral-100",
	severity === "success" && "border-green-200 bg-green-100",
	severity === "warning" && "border-orange-200 bg-orange-100",
	severity === "error" && "border-red-200 bg-red-100",
	additionalClasses,
);
---

<div role="alert" class={alertClasses}>
	<slot />
</div>
