---
import { getCollection } from "astro:content";
import { clsx } from "clsx";
import CarbonBadge from "@/components/common/CarbonBadge.astro";
import PlayfulDivider from "@/components/common/PlayfulDivider.astro";

const year = new Date().getFullYear();
const isProduction = import.meta.env.PROD;

const legalPages = await getCollection("legalPages");

interface Props {
	type?: "regular" | "small";
}

const { type = "regular" } = Astro.props;
---

<footer
	class={clsx(
		"container flex flex-col pb-12",
		type === "regular" && "gap-24",
		type === "small" && "gap-12",
	)}>
	<PlayfulDivider />

	{
		type === "regular" && (
			<div class="flex flex-row flex-wrap justify-between gap-6 text-neutral-200 md:items-end md:gap-12 light:text-black">
				<h2 class="text-5xl">Let’s collaborate</h2>
				<a
					class="max-w-full overflow-hidden text-3xl text-ellipsis transition-colors hover:text-teal-300 light:hover:text-teal-500"
					href="mailto:morizvlanga@gmail.com"
					data-umami-event="link-click"
					data-umami-event-url="mailto:morizvlanga@gmail.com">
					morizvlanga@gmail.com
				</a>
			</div>
		)
	}

	<div
		class={clsx(
			"flex flex-wrap items-end justify-between gap-6 text-neutral-500 contrast-more:text-neutral-400 light:text-neutral-600 light:contrast-more:text-neutral-800",
			type === "regular" && "mt-12",
		)}>
		{isProduction ? <CarbonBadge /> : "<CarbonBadge />"}

		<div class="flex flex-wrap gap-2 md:gap-4">
			<a
				href="https://github.com/mvlanga/mvlanga-com-astro"
				target="_blank"
				class="transition-colors hover:text-teal-300 light:hover:text-teal-500"
				data-umami-event="link-click"
				data-umami-event-url="https://github.com/mvlanga/mvlanga-com-astro">
				Source code
			</a>
			{
				legalPages.map(({ id, data: { title } }) => (
					<a
						href={`/legal/${id}`}
						class="transition-colors hover:text-teal-300 light:hover:text-teal-500">
						{title}
					</a>
				))
			}
			<span>
				&copy; Moriz von Langa 2023 - {year}
			</span>
		</div>
	</div>
</footer>
