---
import { clsx } from "clsx";
import CarbonBadge from "./CarbonBadge.astro";
import { PlayfulDivider } from "./PlayfulDivider";

const year = new Date().getFullYear();
const isProduction = import.meta.env.PROD;

interface Props {
	showSmallFooter?: boolean;
}

const { showSmallFooter } = Astro.props;
---

<footer class={clsx("container flex flex-col gap-24 pb-12", showSmallFooter && "gap-12!")}>
    <PlayfulDivider client:only="react">
        <hr slot="fallback" class="border-neutral-800"/>
    </PlayfulDivider>

    {!showSmallFooter && (
            <div class="flex flex-row flex-wrap justify-between gap-6 md:gap-12 md:items-end text-neutral-200">
                <h5 class="text-6xl">Let’s collaborate</h5>
                <a class="text-3xl transition-colors hover:text-purple" href="mailto:morizvlanga@gmail.com"
                   data-umami-event="link-click" data-umami-event-url="mailto:morizvlanga@gmail.com">morizvlanga@gmail.com</a>
            </div>
    )}

    <div class={clsx("flex flex-wrap items-end justify-between gap-6 text-neutral-500", !showSmallFooter && "mt-12")}>
        {isProduction ?
                <CarbonBadge/> : "<CarbonBadge />"}

        <div class="flex flex-wrap gap-2 md:gap-4">
            <a href="https://github.com/mvlanga/mvlanga-com-astro" target="blank"
               class="transition-colors hover:text-purple"
               data-umami-event="link-click"
               data-umami-event-url="https://github.com/mvlanga/mvlanga-com-astro"
            >
                Source code
            </a>
            <a
                    href="/legal/imprint"
                    class="transition-colors hover:text-purple"
            >
                Imprint
            </a>

            <a
                    href="/legal/privacy-policy"
                    class="transition-colors hover:text-purple"
            >
                Privacy Policy
            </a>
            <span>
                &copy; Moriz von Langa 2023 - {year}
            </span>
        </div>
    </div>
</footer>
