<div class="mx-auto prose prose-invert prose-a:text-purple prose-code:px-2 prose-code:py-1 prose-code:rounded prose-code:bg-neutral-900 prose-code:font-normal prose-code:before:content-none prose-code:after:content-none">
    <slot/>
</div>