---
import { clsx } from "clsx";
import { twMerge } from "tailwind-merge";

interface Props {
	additionalClasses?: string;
	variant: "highlight" | "blog";
}

const { additionalClasses, variant } = Astro.props;
---

<div class={
        twMerge(
            clsx(
                "prose prose-invert light:prose-neutral",
                "prose-a:text-purple-300 prose-a:hover:text-purple-400 prose-a:transition-colors",
                "light:prose-a:text-purple-500 light:prose-a:hover:text-purple-800",
                "prose-code:px-2  prose-code:py-1 prose-code:rounded  prose-code:font-normal",
                "prose-code:bg-neutral-900 prose-code:light:bg-neutral-100",
                "prose-code:before:content-none prose-code:after:content-none",
                "prose-code:break-words",
                "[&>pre>code]:p-0 [&>pre>code]:bg-transparent",
                "[&>pre>code]:p-0 [&>pre>code]:break-normal",
                "prose-headings:font-normal",
                "prose-headings:scroll-mt-16 prose-strong:scroll-mt-16",
                variant === "highlight" && "prose-h4:text-2xl",
                variant === "highlight" && "prose-h3:text-3xl",
                variant === "highlight" && "prose-h2:text-4xl",
                variant === "highlight" && "prose-h1:text-5xl",
                variant === "blog" && "prose-h4:text-xl",
                variant === "blog" && "prose-h3:text-2xl",
                variant === "blog" && "prose-h2:text-3xl",
                variant === "blog" && "prose-h1:text-4xl",
                additionalClasses
            )
        )
}>
    <slot/>
</div>