---
import { clsx } from "clsx";
import { twMerge } from "tailwind-merge";

interface Props {
	additionalClasses?: string;
    variant: "project" | "blog"
}

const { additionalClasses, variant } = Astro.props;
---

<div class={
        twMerge(
            clsx(
                "prose prose-invert",
                "prose-a:text-purple-300 prose-a:hover:text-purple-400 prose-a:transition-colors",
                "prose-code:px-2  prose-code:py-1 prose-code:rounded prose-code:bg-neutral-900 prose-code:font-normal",
                "prose-code:before:content-none prose-code:after:content-none",
                "[&>pre>code]:p-0 [&>pre>code]:bg-transparent",
                "prose-headings:font-normal",
                "prose-headings:scroll-mt-16 prose-strong:scroll-mt-16",
                variant === "project" && "prose-h4:text-2xl",
                variant === "project" && "prose-h3:text-3xl",
                variant === "project" && "prose-h2:text-4xl",
                variant === "project" && "prose-h1:text-5xl",
                variant === "blog" && "prose-h4:text-xl",
                variant === "blog" && "prose-h3:text-2xl",
                variant === "blog" && "prose-h2:text-3xl",
                variant === "blog" && "prose-h1:text-4xl",
                additionalClasses
            )
        )
}>
    <slot/>
</div>