---
import { actions } from "astro:actions";

interface Props {
	id: string;
}

const { id } = Astro.props;

const { data } = await Astro.callAction(actions.blogPostViews, {
	id,
});

const count = data ? data[0]?.count : undefined;
---

<span>{count} views</span>