---
export const prerender = false;

import { PageViews, db, sql } from "astro:db";

interface Props {
	id: string;
}

const { id } = Astro.props;

const pageViews = await db
	.insert(PageViews)
	.values({
		id,
	})
	.onConflictDoUpdate({
		target: PageViews.id,
		set: { count: sql`count + 1` },
	})
	.returning();

const count = pageViews[0]?.count;

if (count === undefined) {
	return;
}
---
<p class="inline-block">{count.toLocaleString()} views</p>