---
export const prerender = false;

import { PageViews, db, sql } from "astro:db";

interface Props {
	id: string;
}

const { id } = Astro.props;

const count = await db
	.insert(PageViews)
	.values({
		id,
	})
	.onConflictDoUpdate({
		target: PageViews.id,
		set: { count: sql`count + 1` },
	})
	.returning({ count: PageViews.count });
---

<p class="inline-block">{count?.[0]?.count.toLocaleString()} views</p>