@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
	--font-sans: Averta, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-black: #080808;

	--color-purple-500: #8860ff;
	--color-purple-600: #4b29af;
	--color-purple: #8860ff;
}

@layer base {
	@font-face {
		font-family: "Averta";
		src: url(./assets/fonts/averta-light.eot);
		src: url(./assets/fonts/averta-light.woff) format("woff");
		src: url(./assets/fonts/averta-light.woff2) format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Averta";
		src: url(./assets/fonts/averta-regular.eot);
		src: url(./assets/fonts/averta-regular.woff) format("woff");
		src: url(./assets/fonts/averta-regular.woff2) format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Averta";
		src: url(./assets/fonts/averta-semibold.eot);
		src: url(./assets/fonts/averta-semibold.woff) format("woff");
		src: url(./assets/fonts/averta-semibold.woff2) format("woff2");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Averta";
		src: url(./assets/fonts/averta-bold.eot);
		src: url(./assets/fonts/averta-bold.woff) format("woff");
		src: url(./assets/fonts/averta-bold.woff2) format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	max-width: unset;

	@media (width >= theme(--breakpoint-sm)) {
		padding-inline: 4rem;
	}

	@media (width >= theme(--breakpoint-xl)) {
		padding-inline: 8rem;
	}

	@media (width >= theme(--breakpoint-2xl)) {
		padding-inline: 12rem;
	}
}
