@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Averta";
        src: url(./assets/fonts/averta-light.eot);
        src: url(./assets/fonts/averta-light.woff) format('woff');
        src: url(./assets/fonts/averta-light.woff2) format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Averta";
        src: url(./assets/fonts/averta-regular.eot);
        src: url(./assets/fonts/averta-regular.woff) format('woff');
        src: url(./assets/fonts/averta-regular.woff2) format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Averta";
        src: url(./assets/fonts/averta-semibold.eot);
        src: url(./assets/fonts/averta-semibold.woff) format('woff');
        src: url(./assets/fonts/averta-semibold.woff2) format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Averta";
        src: url(./assets/fonts/averta-bold.eot);
        src: url(./assets/fonts/averta-bold.woff) format('woff');
        src: url(./assets/fonts/averta-bold.woff2) format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}
