---
import { ClientRouter } from "astro:transitions";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";
import "@/styles.css";
import { ContactMe } from "../components/ContactMe";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title} - Moriz von Langa</title>
    <meta name="description" content={description}>
    <ClientRouter/>

</head>

<body class="bg-black text-white">

<Header client:load currentPath={Astro.url.pathname}/>

<main transition:animate="fade">
    <slot/>
</main>

<Footer/>

<ContactMe client:visible />

</body>
</html>
